<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Add new user</title>
</head>
<body>
    <h1>Adding a new user</h1>
    <br>
    <form method="post" action="/add">
        <input name="username" type="text" placeholder="Username">&nbsp;
        <input name="email" type="text" placeholder="Email">&nbsp;
        <input name="password" type="password" placeholder="Password">
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>